@model LP3_ProjetoFinal.Models.Store;

@{
    ViewData["Title"] = $"Loja: { Model.Name }";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id: </b> @Model.Id
</p>

<p>
    <b>Número: </b> @Model.Name
</p>

<p>
    <b>Descrição: </b> @Model.Description
</p>

<a class="btn btn-warning btn-sm" asp-controller="Store" asp-action="Update" asp-route-id="@Model.Id">Atualizar</a>

<a class="btn btn-danger btn-sm" href="/Store/Delete/@Model.Id">Remover</a>

@if(!(ViewBag.products.Count > 0))
{
    <p class="mt-2">Essa loja não possui produtos</p>
}
else
{
    <h2>Produtos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade Disponível</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in ViewBag.products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                <td>
                    @* <a class="btn btn-primary btn-sm" href="/Store/Show/@store.Id">Ver</a>
                     <a class="btn btn-warning btn-sm" asp-controller="Store" asp-action="Update"
                    asp-route-id="@store.Id">Atualizar</a>
                    *@
                    <a class="btn btn-danger btn-sm" href="/Product/Delete/
                    @product.Id">Remover</a> 
                </td>
                </tr>
            }
        </tbody>
    </table>
}

 
