@model LP3_ProjetoFinal.Models.CleaningTime

@{
    ViewData["Title"] = $"Horário - Id: {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id: </b> @Model.Id
</p>
<p>
    <b>Horário de início: </b> @Model.StartTime
</p>
<p>
    <b>Horário de término: </b> @Model.EndTime
</p>
<p>
    <b>Funcionário: </b> @Model.Employee
</p>

<a class="btn btn-primary btn-sm" asp-controller="CleaningTime" asp-action="Update" asp-route-id="@Model.Id">Atualizar</a>

<a class="btn btn-primary btn-sm" asp-controller="CleaningTime" asp-action="Delete" asp-route-id="@Model.Id">Remover</a> 