@model LP3_ProjetoFinal.Models.CleaningTime;

@{
    ViewData["Title"] = $"Editar Horário de Limpeza - Id: {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="CleaningTime" asp-action="Update" method="post">
    <p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </p>

    <p>
        <label asp-for="StartTime">Horário de início: </label>
        <input type="time" asp-for="StartTime" value="@Model.StartTime">
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="EndTime">Horário de término: </label>
        <input type="time" asp-for="EndTime" value="@Model.EndTime">
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Employee">Funcionário: </label>
        <input type="text" asp-for="Employee" value="@Model.Employee">
        <span asp-validation-for="Employee" class="text-danger"></span>
    </p>

    <button type="submit">Salvar</button>
</form>