@model LP3_ProjetoFinal.Models.Product;

@{
    ViewData["Title"] = $"Editar Produto { Model.Name }";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Product" asp-action="Update" method="post">
    <p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </p>

    <p>
        <label for="Name">Nome: </label>
        <input type="text" asp-for="Name" value="@Model.Name">
    </p>

    <p>
        <label for="Price">Preço: </label>
        <input type="number" asp-for="Price" value="@Model.Price">
    </p>

    <p>
        <label for="Description">Descrição: </label>
        <input type="text" asp-for="Description" value="@Model.Description">
    </p>

    <p>
        <label for="Quantity">Quantidade: </label>
        <input type="number" asp-for="Quantity" value="@Model.Quantity">
    </p>

    <p>
        <input type="hidden" name="StoreId" value="@Model.StoreId">
    </p>

    <button type="submit">Salvar</button>
</form>