@model IEnumerable<LP3_ProjetoFinal.Models.Film>

@{
    ViewData["Title"] = "Filmes";
}

<h1 class="display-4 mt-3 pt-4">@ViewData["Title"]</h1>
<hr>
<a class="btn btn-primary mb-4" asp-controller="Film" asp-action="Create">Adicionar filme</a>

@if(Model.Count() == 0)
{
    <p class="lead" style="font-size: 20px;">Nenhum filme cadastrado.</p>
}
else
{
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Diretor</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var film in Model)
            {
                <tr>
                    <td>@film.Id</td>
                    <td>@film.Title</td>
                    <td>@film.Director</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Film" asp-action="Show" asp-route-id="@film.Id">Ver</a>
                    </td>
                    @* 
                    <td>
                        <a class="btn btn-warning btn-sm" asp-controller="Film" asp-action="Update" asp-route-id="@film.Id">Atualizar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-controller="Film" asp-action="Delete" asp-route-id="@film.Id">Remover</a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
}