@model IEnumerable<LP3_ProjetoFinal.Models.MovieTheater>

@{
    ViewData["Title"] = "Salas de cinema";
}
<h1>@ViewData["Title"]</h1>
<hr>
<a class="btn btn-primary btn-sm" href="/MovieTheater/Create">Nova sala</a>

@if(Model.Count() == 0)
{
    <p>Nenhuma sala cadastrada</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Número</th>
                <th>Número Assentos</th>
                <th>Corredor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var theater in Model)
            {
                <tr>
                    <td>@theater.Id</td>
                    <td>@theater.Number</td>
                    <td>@theater.NumberSeats</td>
                    <td>@theater.Hall</td>
                    <td>
                       <a class="btn btn-primary btn-sm" asp-controller="MovieTheater" asp-action="Show" asp-route-id="@theater.Id">Ver</a>
                       <a class="btn btn-primary btn-sm" asp-controller="MovieTheater" asp-action="Update" asp-route-id="@theater.Id">Atualizar</a>
                       <a class="btn btn-primary btn-sm" asp-controller="MovieTheater" asp-action="Delete" asp-route-id="@theater.Id">Remover</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
