@model LP3_ProjetoFinal.Models.MovieTheater;

@{
    ViewData["Title"] = $"Editar Sala {Model.Number}";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="MovieTheater" asp-action="Update" method="post">
    <p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </p>

    <p>
        <label asp-for="Number">Número: </label>
        <input type="number" asp-for="Number" value="@Model.Number">
        <span asp-validation-for="Number" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="NumberSeats">Número de assentos: </label>
        <input type="number" asp-for="NumberSeats" value="@Model.NumberSeats">
        <span asp-validation-for="NumberSeats" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Hall">Corredor: </label>
        <input type="text" asp-for="Hall" value="@Model.Hall">
        <span asp-validation-for="Hall" class="text-danger"></span>
    </p>

    <button type="submit">Salvar</button>
</form>